.form {
    &-box {
        display: flex;
        justify-content: center;
    }

    input {
        width: 100%;
        margin-bottom: 1em;
    }

    button {
        margin: 0.4em;
        font-family: "Prompt", sans-serif;
        border: none;
        box-sizing: border-box;
        font-weight: 700;
        border-radius: 1em;
        padding: 0.5em;
        border: 0.1em solid transparent;
        transition: all 0.5s;

        &:nth-child(1) {
            background-color: green;
            color: #fff;

            &:hover {
                color: green;
            }
        }

        &:nth-child(2) {
            background-color: rgb(229, 255, 0);

        }

        &:hover {
            cursor: pointer;
            background-color: transparent;
            border: 0.1em solid CurrentColor;
        }

        &[disabled] {

            background-color: rgb(0, 0, 0) !important;
            opacity: 0.5;
            pointer-events: none;
        }
    }
}